## OS
.DS_Store
Icon?
nohup.out

## EDITORS
\#*
.#*
*~
*.swp
*.bak
REVISION
TAGS*
tmtags
*_flymake.*
*_flymake
*.tmproj
.project
.settings
mkmf.log

## COMPILED
a.out
*.o
*.pyc
*.so

## OTHER SCM
.bzr
.hg
.svn

## PROJECT::GENERAL
coverage
rdoc
doc
pkg
.yardoc

## PROJECT::SPECIFIC
.rvmrc
.vendor
.bundle
Gemfile.lock

.rake_test_cache
metadata.json
.chef
*.pem
.rvmrc
vendor/*
