--readme   README.md
--markup   markdown
-
VERSION
CHANGELOG.md
LICENSE.md
README.md
notes/INSTALL.md
notes/core_concepts.md
notes/knife-cluster-commands.md
notes/philosophy.md
notes/silverware.md
notes/style_guide.md
notes/tips_and_troubleshooting.md
notes/walkthrough-hadoop.md
notes/homebase-layout.txt

notes/*.md
notes/*.txt
